name: Test Workflow

on:
  pull_request:
  push:
    branches:
      - 'main'
      - 'release*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build android
        run: ./gradlew :androidApp:assembleDebug

      - name: Build desktop
        run: ./gradlew :composeApp:desktopJar

      - name: Build wasm
        run: ./gradlew :composeApp:wasmJsBrowserDevelopmentWebpack --no-daemon --max-workers=1

      - name: Check lint
        run: ./gradlew lint

      - name: Check ktlint
        run: ./gradlew ktlintCheck

  build_ios:
    name: Build iOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build iOS
        run: ./gradlew :composeApp:iosArm64Binaries

  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Unit tests
        run: ./gradlew :zoomable:testAndroidHostTest
